<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--     	<property name="hibernate.connection.datasource">java:comp/env/jdbc/test</property> -->
    	
    	<!-- JDBC驅動程式 --> 
	    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> 
	    <!-- JDBC URL --> 
	    <property name="connection.url">jdbc:sqlserver://localhost:1433;database=runninglife01</property> 
	    <!-- 資料庫使用者 --> 
	    <property name="connection.username">sa</property> 
	    <!-- 資料庫密碼 --> 
	    <property name="connection.password">2486555</property> 
    	
    	<property name="hibrenate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    	<property name="hibernate.show_sql">false</property>
    	<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    	<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    	<property name="hibernate.current_session_context_class">thread</property>
    	
    	<mapping class="_02.model.members.MembersVO" />
    	<mapping class="_02.model.friendRequest.FriendRequestVO" />
    	<mapping class="_02.model.friendRelationship.FriendRelationshipVO" />
     	<mapping class="_02.model.membercomplete.city.CityVO" />
    	<mapping class="_02.model.membercomplete.country.CountryVO" />
    	<mapping class="_02.model.membercomplete.location.LocationVO" />
    	<mapping class="_02.model.membercomplete.membercom.MembercomVO" />
    	<mapping class="_02.model.membercomplete.emergencyRelation.EmergencyRelationVO" />
    	<mapping class="_02.model.membercomplete.competence.CompetenceVO" />
<!-- 		<mapping class="test.div.model.DivVO" /> -->
<!-- 		<mapping class="test.city.model.CityVO" /> -->
    </session-factory>
</hibernate-configuration>
